* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    margin: 5px;
}

h2 {
    text-align: center;
    margin: 10px;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-bar ul li {
    list-style: none;
    text-decoration: none;
    margin: 5px 15px 5px 0;
    font-size: 18px;
}

.nav-bar ul li a {
    text-decoration: none;
}

address,
#education-section,
#experience-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

address img,
#education-section img {
    margin: 10px auto;
}

.address-box, 
.education-box {
    width: 250px;
    margin: 10px auto;
    background-color: aqua;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.address-box ul,
.address-box ul li,
.education-box ul, 
.education-box ul li {
    list-style: none;
}

.job {
    margin: 10px auto;
}

.job-time {
    font-style: italic;
}

.job-detail {
    padding-left: 10px;
}


@media all and (min-width: 600px){
    address,
    #education-section {
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }

    address img,
    #education-section img {
        width: 100%;
        flex: 1;
        margin: 10px;
    }

    .address-box,
    .education-box {
        flex: 1;
        margin: 10px;
        text-align: center;
    }
};
